



<div>
  <ol class="breadcrumb">
    <li class="active">
      固定费
    </li>
    <li>
      <%= link_to '新增', new_primary_fee_path,:style=>"color:green"  %>
    </li>
    <li class="active">
      产品列表
    </li>
  </ol>
</div>


<table id="datatable_primary_id" class="display">
  <thead>
    <tr>
      <!---注意boostrap是12栅格布局，所以col-sm设置不能超过12，否则会溢出---->
      <th class="col-sm-1">产品名称</th>
      <th class="col-sm-7">产品配置</th>
      <th class="col-sm-1">备注信息</th>
      <th class="col-sm-1">更新时间</th>
      <th class="col-sm-1">查看</th>
      <th class="col-sm-1">编辑</th>
      <th class="col-sm-1">删除</th>
    </tr>
  </thead>

  <tbody>
    <% @primary_fees.each do |primary_fee| %>
      <tr>
        <td><%= primary_fee.primary_name %></td>
        <td><%= primary_fee.primary_description %></td>
        <td><%= primary_fee.primary_remark %></td>
         <td><%= primary_fee.updated_at %></td>
        <td><%= link_to 'Show', primary_fee %></td>
        <td><%= link_to 'Edit', edit_primary_fee_path(primary_fee) %></td>
        <td><%= link_to 'Destroy', primary_fee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>




